[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygit2 = "*"
pyyaml = "*"
requests = "*"
datetime = "*"
pygithub = "*"
argparse = "*"
pydriller = "<=1.15.2"
git2net = "*"
pysqlite3 = "*"
selenium = "*"
python-dotenv = "*"
pandas = "*"
jupyter = "*"
sphinx = "*"
m2r2 = "*"
pypiwin32 = "*"
human-id = "*"

[dev-packages]
github2pandas = {editable = true, path = "."}

[requires]
python_version = "3.8"
