[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygit2 = "*"
pyyaml = "*"
requests = "*"
datetime = "*"
pygithub = "*"
argparse = "*"
git2net = "*"
pysqlite3 = "*"
selenium = "*"
python-dotenv = "*"
pandas = "*"
sphinx = "*"
m2r2 = "*"
pypiwin32 = {sys_platform = "== 'win32'"}
pywin32 = {sys_platform = "== 'win32'"}
human-id = "*"
psutil = "*"
sphinx-rtd-theme = "*"
cffi="*"

[dev-packages]
github2pandas = {editable = true, path = "."}
pipenv-setup = "*"

[requires]
python_version = "3.8"
